@font-face {
  font-family: 'Avendole';
  src: url('FOT-AvendoleRus.otf') format('otf'),
       url('FOT-AvendoleRus.woff') format('woff'),
       url('FOT-AvendoleRus.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}